.grid-container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-areas: "title image" "description image";
}

.grid-item {
    /* to make pretty */
    border: 1px solid black;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.grid-title {
    /* assign to title area */
    grid-area: title;

    /* to make pretty */
    background-color: #f1f1f1;
}

.grid-description {
    /* assign to description area */
    grid-area: description;

    /* to make pretty */
    background-color: #f1f1f1;
}

.grid-image {
    /* center items inside */
    display: grid;
    align-items: center;

    /* assign to image area */
    grid-area: image;

    /* to make pretty */
    background-color: #f1f1f1;
}
